@model AddressClientViewModel;
@if (TempData["Alert"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <div>
            @TempData["Alert"]
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (ViewData.ModelState.IsValid == false)
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <div>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(x => x.Errors))
            {
                <span>@error.ErrorMessage</span>

                <br />
            }
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<br />
<h2 class="text-dark">@(Model != null && Model.Id != 0 ? "Editar" : "Adicionar") Endereço</h2>
<br />

<div class="border container" style="padding:30px;">
    <form enctype="multipart/form-data" method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            @if (Model != null && Model.Id != 0)
            {
                <input type="hidden" asp-for="Id" />
            }
            <div class="col-3">
                <label asp-for="Street"></label>
            </div>
            <div class="col-6">
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Number"></label>
            </div>
            <div class="col-6">
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Neighborhood"></label>
            </div>
            <div class="col-6">
                <input asp-for="Neighborhood" class="form-control" />
                <span asp-validation-for="Neighborhood" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="ZipCode"></label>
            </div>
            <div class="col-6">
                <input asp-for="ZipCode" id="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
            <div class=" msgCep text-secondary col-3">
                <p>Digite o CEP para carregar o endereço</p>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="City"></label>
            </div>
            <div class="col-6">
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="State"></label>
            </div>
            <div class="col-6">
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Country"></label>
            </div>
            <div class="col-6">
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="ClientId" class="control-label"></label>
            </div>
            <div class="col-6">
                <select asp-for="ClientId" asp-items="@(new SelectList(Model.Clients, "Id", "Name", Model.ClientId))" class="form-control">
                    <option value="">Selecione um cliente</option>
                </select>
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
        </div>




        <div class="form-group row">
            <div class="col-3 offset-3">
                <button type="submit" class="btn btn-primary form-control">
                    SALVAR
                </button>
            </div>
            <div class="col-3">
                <a asp-action="Index" class="btn btn-success form-control">Voltar</a>
            </div>
        </div>
    </form>

</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 3000);
        $(document).ready(function () {
            $('#ZipCode').mask('00000-000');
        });
        $(document).ready(function () {
            $('#ZipCode').on('input', function () {
                var cep = $(this).val().replace(/\D/g, '');
                if (cep.length === 8) {
                    $.getJSON('https://viacep.com.br/ws/' + cep + '/json/', function (data) {
                        if (!("erro" in data)) {
                            $('#Street').val('');
                            $('#Neighborhood').val('');
                            $('#City').val('');
                            $('#State').val('');
                            $('#Country').val('');

                            $('#Street').val(data.logradouro);
                            $('#Neighborhood').val(data.bairro);
                            $('#City').val(data.localidade);
                            $('#State').val(data.uf);
                            $('#Country').val('Brasil');
                        } else {
                            console.log('CEP não encontrado.');
                        }
                    });
                } else {
                    $('#Street').val('');
                    $('#Neighborhood').val('');
                    $('#City').val('');
                    $('#State').val('');
                    $('#Country').val('');
                }
            });
        });
    </script>
}